BillingDashboardDev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "BillingDashboardDev"
		},
		"DashboardSQLService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DashboardSQLService'"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://JamesDevAzureKeyVault.vault.azure.net/"
		},
		"AzureManagementApi_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://management.azure.com/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ExtractAzureBilling')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OAuthToken",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "AzureKeyValue Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "AzureKeyValue ClientId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://login.microsoftonline.com/', pipeline().globalParameters.tenantId, '/oauth2/token')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat('grant_type=client_credentials&client_id=', activity('AzureKeyValue ClientId').output['value'], '&client_secret=', activity('AzureKeyValue Secret').output['value'], '&resource=https%3A%2F%2Fmanagement.azure.com%2F')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set access_token",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "OAuthToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "access_token",
							"value": {
								"value": "@concat('Bearer ', activity('OAuthToken').output['access_token'])",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy Subscribers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization:', variables('access_token'))}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"Id"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['authorizationSource']"
										},
										"sink": {
											"name": "AuthorizationSource",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['subscriptionId']"
										},
										"sink": {
											"name": "SubscriptionId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['displayName']"
										},
										"sink": {
											"name": "DisplayName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['state']"
										},
										"sink": {
											"name": "State",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['value']"
							}
						},
						"inputs": [
							{
								"referenceName": "Subscribers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Subscribers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SQL Subscribers",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy Subscribers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_Subscribers",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SQL Subscribers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('SQL Subscribers').output['value']",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Resource Groups",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "subscriptionId",
													"value": {
														"value": "@item()['SubscriptionId']",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization:', variables('access_token'))}",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": [
													"Id"
												]
											},
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "Id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['name']"
													},
													"sink": {
														"name": "Name",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['location']"
													},
													"sink": {
														"name": "Location",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['subscriptionId']"
													},
													"sink": {
														"name": "SubscriptionId",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['value']",
											"mapComplexValuesToString": true
										}
									},
									"inputs": [
										{
											"referenceName": "ResourceGroups",
											"type": "DatasetReference",
											"parameters": {
												"subscriptionId": {
													"value": "@item()['SubscriptionId']",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SQL_ResourceGroups",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "SQL Resource Groups",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_ResourceGroups",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SQL Resource Groups",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('SQL Resource Groups').output['value']",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "resourceGroupId",
													"value": {
														"value": "@item()['Id']",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization:', variables('access_token'))}",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "Id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['name']"
													},
													"sink": {
														"name": "Name",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['type']"
													},
													"sink": {
														"name": "Type",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['kind']"
													},
													"sink": {
														"name": "Kind",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['location']"
													},
													"sink": {
														"name": "Location",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['resourceGroupId']"
													},
													"sink": {
														"name": "ResourceGroupId",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['value']"
										}
									},
									"inputs": [
										{
											"referenceName": "Resources",
											"type": "DatasetReference",
											"parameters": {
												"resourceGroupPath": {
													"value": "@item()['Id']",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SQL_Resources",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "AzureKeyValue Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Data flow3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().globalParameters.azurekeyvault_client_secret_secretidentifier",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "AzureKeyValue ClientId",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Data flow3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().globalParameters.azurekeyvault_client_id_secretidentifier",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "SQL Resources",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_Resources",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach3",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SQL Resources",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('SQL Resources').output['value']",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Data flow2",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "ParseResourceCosts",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"DataFlowCosts": {},
												"Costs": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Data flow3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 99999
						}
					},
					{
						"name": "Data flow3",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "ParseResourceCosts",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DataFlowCosts": {},
									"Costs": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"access_token": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-18T14:52:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Subscribers')]",
				"[concat(variables('factoryId'), '/datasets/SQL_Subscribers')]",
				"[concat(variables('factoryId'), '/datasets/SQL_ResourceGroups')]",
				"[concat(variables('factoryId'), '/datasets/SQL_Resources')]",
				"[concat(variables('factoryId'), '/dataflows/ParseResourceCosts')]",
				"[concat(variables('factoryId'), '/datasets/ResourceGroups')]",
				"[concat(variables('factoryId'), '/datasets/Resources')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Costs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureManagementApi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"resourceGroupId": {
						"type": "string",
						"defaultValue": "/subscriptions/89e6ade6-e91a-4152-bf83-9c83a3cb6ae3/resourceGroups/FMCSPortalResourceGroup"
					},
					"resourceId": {
						"type": "string",
						"defaultValue": "/subscriptions/89e6ade6-e91a-4152-bf83-9c83a3cb6ae3/resourceGroups/JamesGeneralDevelopment/providers/Microsoft.ServiceBus/namespaces/jamesplanetdev"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@concat(dataset().resourceId, '/providers/Microsoft.CostManagement/query?api-version=2021-10-01&$top=5000')",
							"type": "Expression"
						}
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"type": {
							"type": "string"
						},
						"location": {
							"type": "null"
						},
						"sku": {
							"type": "null"
						},
						"eTag": {
							"type": "null"
						},
						"properties": {
							"type": "object",
							"properties": {
								"nextLink": {
									"type": "null"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"name": {
												"type": "string"
											},
											"type": {
												"type": "string"
											}
										}
									}
								},
								"rows": {
									"type": "array",
									"items": {
										"type": "array",
										"items": {
											"type": "number"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureManagementApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ResourceGroups')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureManagementApi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"subscriptionId": {
						"type": "string",
						"defaultValue": "89e6ade6-e91a-4152-bf83-9c83a3cb6ae3"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@concat('subscriptions/', dataset().subscriptionId,'/resourcegroups?api-version=2017-05-10')",
							"type": "Expression"
						}
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"value": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string"
									},
									"authorizationSource": {
										"type": "string"
									},
									"managedByTenants": {
										"type": "array"
									},
									"subscriptionId": {
										"type": "string"
									},
									"tenantId": {
										"type": "string"
									},
									"displayName": {
										"type": "string"
									},
									"state": {
										"type": "string"
									},
									"subscriptionPolicies": {
										"type": "object",
										"properties": {
											"locationPlacementId": {
												"type": "string"
											},
											"quotaId": {
												"type": "string"
											},
											"spendingLimit": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"count": {
							"type": "object",
							"properties": {
								"type": {
									"type": "string"
								},
								"value": {
									"type": "integer"
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureManagementApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Resources')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureManagementApi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"resourceGroupPath": {
						"type": "string",
						"defaultValue": "/subscriptions/89e6ade6-e91a-4152-bf83-9c83a3cb6ae3/resourceGroups/FMCSPortalResourceGroup"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@concat(dataset().resourceGroupPath, '/resources?api-version=2021-04-01')",
							"type": "Expression"
						}
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"value": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string"
									},
									"name": {
										"type": "string"
									},
									"type": {
										"type": "string"
									},
									"sku": {
										"type": "object",
										"properties": {
											"name": {
												"type": "string"
											},
											"tier": {
												"type": "string"
											},
											"size": {
												"type": "string"
											},
											"family": {
												"type": "string"
											},
											"capacity": {
												"type": "integer"
											}
										}
									},
									"kind": {
										"type": "string"
									},
									"location": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureManagementApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Costs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DashboardSQLService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ResourceId",
						"type": "nvarchar"
					},
					{
						"name": "Cost",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "CostUSD",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "UsageDate",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Currency",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Costs"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DashboardSQLService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_DataFlowCosts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DashboardSQLService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "JsonResult",
						"type": "nvarchar"
					},
					{
						"name": "ResourceId",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DataFlowCosts"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DashboardSQLService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_ExecuteTSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DashboardSQLService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DashboardSQLService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_ResourceGroups')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DashboardSQLService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "nvarchar"
					},
					{
						"name": "SubscriptionId",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Location",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ResourceGroups"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DashboardSQLService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Resources')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DashboardSQLService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "nvarchar"
					},
					{
						"name": "ResourceGroupId",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Type",
						"type": "nvarchar"
					},
					{
						"name": "Kind",
						"type": "nvarchar"
					},
					{
						"name": "Location",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Resources"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DashboardSQLService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Subscribers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DashboardSQLService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "nvarchar"
					},
					{
						"name": "AuthorizationSource",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Subscriptions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DashboardSQLService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Subscribers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureManagementApi",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "subscriptions?api-version=2020-01-01"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"value": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string"
									},
									"name": {
										"type": "string"
									},
									"location": {
										"type": "string"
									},
									"properties": {
										"type": "object",
										"properties": {
											"provisioningState": {
												"type": "string"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureManagementApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureManagementApi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('AzureManagementApi_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DashboardSQLService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DashboardSQLService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParseResourceCosts')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQL_DataFlowCosts",
								"type": "DatasetReference"
							},
							"name": "DataFlowCosts"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQL_Costs",
								"type": "DatasetReference"
							},
							"name": "Costs"
						}
					],
					"transformations": [
						{
							"name": "parse1"
						},
						{
							"name": "flatten1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          JsonResult as string,",
						"          ResourceId as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     limit: 9999999,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DataFlowCosts",
						"DataFlowCosts parse(JsonResult = JsonResult ? (id as string,",
						"          name as string,",
						"          type as string,",
						"          properties as (nextLink as string,",
						"          columns as (name as string,",
						"     type as string)[],",
						"          rows as string[])),",
						"     format: 'json',",
						"     documentForm: 'singleDocument') ~> parse1",
						"parse1 foldDown(unroll(JsonResult.properties.rows),",
						"     mapColumn(",
						"          costRows = JsonResult.properties.rows,",
						"          flattenResourceId = ResourceId",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flatten1",
						"flatten1 derive(costRows = costRows,",
						"          cost = toDouble(split(substring(costRows, 2, length(costRows)-2), ',')[1]),",
						"          costUSD = toDouble(split(substring(costRows, 2, length(costRows)-2), ',')[2]),",
						"          usageDate = toInteger(split(substring(costRows, 2, length(costRows)-2), ',')[3]),",
						"          currency = split(substring(costRows, 2, length(costRows)-2), ',')[4]) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ResourceId as string,",
						"          Cost as decimal(18,4),",
						"          CostUSD as decimal(18,4),",
						"          UsageDate as integer,",
						"          Currency as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          CostUSD = costUSD,",
						"          UsageDate = usageDate,",
						"          Currency = currency,",
						"          ResourceId = flattenResourceId",
						"     )) ~> Costs"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_DataFlowCosts')]",
				"[concat(variables('factoryId'), '/datasets/SQL_Costs')]"
			]
		}
	]
}