pipeline/ChildUsageAggregates.json
{
	"name": "ChildUsageAggregates",
	"properties": {
		"activities": [
			{
				"name": "Until No Next Link",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set access_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('exitLoop'), true)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Usage Aggregates",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "subscriptionId",
											"value": {
												"value": "@pipeline().parameters.subscriptionId",
												"type": "Expression"
											}
										},
										{
											"name": "usageDate",
											"value": {
												"value": "@pipeline().parameters.usageDate",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": {
											"value": "@{concat('Authorization:', variables('access_token'))}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"UsageStartTime",
											"UsageEndTime",
											"SubscriptionId",
											"InstanceData",
											"MeterName",
											"MeterCategory",
											"MeterSubCategory"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['properties']['subscriptionId']"
											},
											"sink": {
												"name": "SubscriptionId",
												"type": "Guid"
											}
										},
										{
											"source": {
												"path": "['properties']['usageStartTime']"
											},
											"sink": {
												"name": "UsageStartTime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['properties']['usageEndTime']"
											},
											"sink": {
												"name": "UsageEndTime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['properties']['meterName']"
											},
											"sink": {
												"name": "MeterName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['meterCategory']"
											},
											"sink": {
												"name": "MeterCategory",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['meterSubCategory']"
											},
											"sink": {
												"name": "MeterSubCategory",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['unit']"
											},
											"sink": {
												"name": "Unit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['instanceData']"
											},
											"sink": {
												"name": "InstanceData",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['properties']['meterId']"
											},
											"sink": {
												"name": "MeterId",
												"type": "Guid"
											}
										},
										{
											"source": {
												"path": "['properties']['quantity']"
											},
											"sink": {
												"name": "Quantity",
												"type": "Float"
											}
										}
									],
									"collectionReference": "$['value']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "UsageAggregates",
									"type": "DatasetReference",
									"parameters": {
										"subscriptionId": {
											"value": "@pipeline().parameters.subscriptionId",
											"type": "Expression"
										},
										"nextLink": {
											"value": "@if(empty(variables('nextLink')), '', variables('nextLink'))",
											"type": "Expression"
										},
										"startDate": {
											"value": "@variables('startDate')",
											"type": "Expression"
										},
										"endDate": {
											"value": "@variables('endDate')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQL_UsageAggregates",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "NextLinkCheck",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Copy Usage Aggregates",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@if(empty(variables('nextLink')), concat('https://management.azure.com/subscriptions/', pipeline().parameters.subscriptionId, '/providers/Microsoft.Commerce/usageAggregates?reportedStartTime=', variables('startDate') ,'&reportedEndTime=', variables('endDate') ,'&aggregationGranularity=daily&api-version=2015-06-01-preview'), variables('nextLink'))",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@variables('access_token')",
										"type": "Expression"
									}
								},
								"linkedServices": [
									{
										"referenceName": "AzureManagementApi",
										"type": "LinkedServiceReference"
									}
								]
							}
						},
						{
							"name": "If Next Link Null",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "NextLinkCheck",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(activity('NextLinkCheck').output?.nextLink)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set Next Link",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "nextLink",
											"value": {
												"value": "@activity('NextLinkCheck').output?.nextLink",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set ExitLoop True",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "exitLoop",
											"value": true
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "OAuthToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "AzureKeyValue Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AzureKeyValue ClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set startDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set endDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://login.microsoftonline.com/', pipeline().globalParameters.tenantId, '/oauth2/token')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('grant_type=client_credentials&client_id=', activity('AzureKeyValue ClientId').output['value'], '&client_secret=', activity('AzureKeyValue Secret').output['value'], '&resource=https%3A%2F%2Fmanagement.azure.com%2F')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set access_token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "OAuthToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "access_token",
					"value": {
						"value": "@concat('Bearer ', activity('OAuthToken').output['access_token'])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AzureKeyValue Secret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.azurekeyvault_client_secret_secretidentifier",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "AzureKeyValue ClientId",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.azurekeyvault_client_id_secretidentifier",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set startDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "startDate",
					"value": {
						"value": "@formatDateTime(pipeline().parameters.usageDate, 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set endDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "endDate",
					"value": {
						"value": "@formatDateTime(adddays(pipeline().parameters.usageDate, 1), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update JSON Properties",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Until No Next Link",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "  UPDATE UsageAggregates\n  SET\n\t ResourceUri = JSON_VALUE(InstanceData, '$.\"Microsoft.Resources\".resourceUri')\n\t,[Location] = JSON_VALUE(InstanceData, '$.\"Microsoft.Resources\".location') \n  WHERE \n\t\tISJSON(InstanceData) > 0\n\tAND ResourceUri IS NULL\n\nSELECT 1 AS COMPLETED",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_UsageAggregates",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"subscriptionId": {
				"type": "string",
				"defaultValue": "89e6ade6-e91a-4152-bf83-9c83a3cb6ae3"
			},
			"usageDate": {
				"type": "string",
				"defaultValue": "5/1/2022"
			}
		},
		"variables": {
			"nextLink": {
				"type": "String"
			},
			"access_token": {
				"type": "String"
			},
			"exitLoop": {
				"type": "Boolean",
				"defaultValue": false
			},
			"startDate": {
				"type": "String"
			},
			"endDate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}